<template lang="pug">
div#external-geocoder
   mapbox-geocoder-control(
    :access-token="configMapbox.accessToken"
    @result="pushResult"
    
  )
button(@click="map = !map") Toggle Map
button(@click="geocoderControl = !geocoderControl") Toggle GeocoderControl
button(@click="scaleControl = !scaleControl") Toggle ScaleControl
mapbox-map(
  :access-token="configMapbox.accessToken"
  :attribution-control="false"
  :zoom-logo="0.8"
  :zoom-attribution="0.8"
  :center="mapCenter"
  :zoom="10"
  map-style="light-v10"
  
  v-if="map"
  :flyToOptions="{ maxDuration: 2000, speed: 1.2 }"
  height="100%"
)
  mapbox-marker(
    v-for="(marker, index) of markers"
    :lngLat="marker"
    :draggable="true"
    :color="circleColor"
    :scale="1"
    anchor="bottom"
  )
  //-   mapbox-popup
  //-     div Hello World And more
  mapbox-geocoder-control(
    @result="pushResult"
    :marker="true"
    language="de,en"
    v-if="geocoderControl"
  )
  mapbox-marker(v-for="result of results" :lngLat="result.center" :color="markerColor")
    mapbox-popup
      div {{ result.place_name }} Hello World
  mapbox-geogeometry-rectangle(
    :center="circleCenter"
    :width="5",
    :height="2"
    fillColor="green"
  )
    
    mapbox-geogeometry-line(
      color="red"
      :width="15"
      :offset="-7.5"
    )
    mapbox-geogeometry-fill(
      color="yellow"
    )
      mapbox-popup      
        div Waddup Biatches

  mapbox-geogeometry-raw(
    fillColor="green"
    :source="source"
  )
  //- mapbox-geogeometry-polygon(
  //-   :path="source.geometry.coordinates[0]"
  //- )
    //- mapbox-geogeometry-fill(
    //-   color="yellow"
    //- )
    //- mapbox-geogeometry-line
    //-  mapbox-popup
    //-   div Popup for the Rectangle
  //- mapbox-geogeometry-polygon(
  //-   :path="[[3.2,39.3],[3.3,39.3],[3.3,39.4],[3.2,39.4], [3.2,39.3]]" 
  //- )
  //-   mapbox-popup
  //-     div Popup for the Polygon
  //- mapbox-geogeometry-circle(
  //-   :center="circleCenter"
  //-   :radius="5"
  //-   :edges="50"
  //-   v-if="attribution"
  //-   fillColor="red"
  //-   :opacity="0.8"
  //- )
  //-   mapbox-geogeometry-line(
  //-     :width="5"
  //-     color="red"
  //-   )
  //-   mapbox-geogeometry-fill(
  //-     color="green"
  //-   )
  //-   mapbox-popup      
  //-     div Waddup Biatches
  mapbox-scale-control(v-if="scaleControl")
  mapbox-attribution-control(
    :compact="true"
    v-if="attribution"
  )
  //- mapbox-source-geo-json
  mapbox-fullscreen-control
  mapbox-geolocate-control
  mapbox-navigation-control(
    position="top-left"
  )
  
</template>

<script lang="ts">
import { defineComponent, onMounted, Ref, ref } from 'vue';
import HelloWorld from './components/HelloWorld.vue';
import { Animation } from "vue-mapbox-ts";
import configMapbox from "@/configs/mapbox"

export default defineComponent({
  name: 'App',
  components: {
    HelloWorld
  },
  setup(props){
    const logResult = (result:any) => console.log('Name: ' + result.place_name  + 'ID: ' + result.id);
    const results = ref([] as any[]);
    const attribution = ref(true);
    const map = ref(true);
    const pushResult = (res:any) => {
      console.log(res);
      results.value.push(res);
      // setTimeout(() => {
      //   results.value.pop();
      // }, 5000)
    }
    let added = 0;
    let radius = ref(5);
    let mapHeight = ref("500px");
    
    const animation = new Animation({ radius }, (timestamp, data) => {
      data.radius.value = 5 + Math.abs(Math.sin(timestamp/1000))*5;
    }, { speed: 1});
    (window as any).animation = animation;
    animation.start();

    const circleCenter = ref([3.2, 39.35]);
    const circleColor = ref('red');
    const edges = ref(25);
    const markerColor = ref('green');
    const mapCenter = ref([3.2,39.35]);
    const geocoderControl = ref(true);
    const scaleControl = ref(true);
    const markers = ref([]) as Ref<[number,number][]>
    const source = ref({ 
      "type": "Feature",
       "geometry": {
         "type": "Polygon",
         "coordinates": [[
           [0,0],
           [10,10],
           [20,0],
           [0,0]
         ]]
       },
       "properties": {
         "prop0": "value0",
         "prop1": {"this": "that"}
         }
       })

    onMounted( () => {
      results.value.push();
      setTimeout(() => {
      markers.value.push([3.21,39.3])
    }, 1000)
    setTimeout(() => {
      markers.value[0] = [ 3.22, 39.4 ]
    }, 2000)
    })
    return { 
      logResult, 
      results, 
      pushResult, 
      attribution, 
      map,
      radius, 
      mapHeight, 
      circleCenter, 
      circleColor, 
      edges, 
      markers,
      markerColor,
      mapCenter, 
      geocoderControl, 
      scaleControl, 
      source,
      configMapbox
      }
  }
});
</script>

<style lang="scss">
body{
  height: 100%;
  width: 100%;
  margin: 0px;
  position: absolute;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  // color: #2c3e50;
  // margin-top: 60px;
  height: 100%;
  width: 100%;
}
</style>
